<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
		<param name="File" value="Logs\\log.txt"/>
		<param name="AppendToFile" value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<param name="RollingStyle" value="Date"/>
		<param name="DatePattern" value="yyyy.MM.dd"/>
		<param name="StaticLogFileName" value="true"/>
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	<appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4stash">
		<Server>localhost</Server>
		<Port>9200</Port>
		<IndexName>logstash-%{+yyyy-MM-dd}</IndexName>
		<IndexType>logs</IndexType>
		<ElasticFilters>
			<!-- example of using filter with default parameters -->
			<kv />
		</ElasticFilters>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="RollingFile" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4net>